
<p id="notice"><%= notice %></p>

<div class= "container-fluid"> <!-- used instead of custom margins bc multiple margins gets complicated quickly -->

<div class="panel panel-primary panel-transparent">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
	
	<div class="panel-body">
		<p> by <strong><%= link_to @blog_post.user.username %></strong> <span class="posted-at">posted at: <%= @blog_post.created_at.strftime('%m/%d/%Y at %H:%M:%S') %></span> <br>
	</p>
		<p><%= @blog_post.blog_entry %></p>
	</div>
	
	<div class="panel-footer">
		<%= link_to 'Edit Post', edit_blog_post_path(@blog_post), class: "btn btn-warning" %>
</div>
	
	<div class="panel panel-success panel-transparent">
		<div class="panel-heading">
			Leave a Comment
		</div>
		<div class="panel-body">
			<%= render 'comments/form' %>
		</div>
	</div>
		
<div class="panel panel-default panel-transparent">
	<div class="panel-header">
		<h4>Comments</h4>
	</div>
		
	<% @blog_post.comments.each do |comment| %>
	<div class="panel-body">
		<p><strong><%= link_to comment.user.username %></strong> <span class="posted-at">posted at: <%= comment.created_at.strftime('%m/%d/%Y at %H:%M:%S') %></span> <br>said: </p>
		<p><%= comment.comment_entry %></p>
	</div>
	<% end %>
</div>

<div>
	<%= link_to 'Back to Index', blog_posts_path, class:"btn btn-primary" %>
</div>
